<div class="card rounded-0 text-center user-card">
  <div class="card-body">
    <%= image_tag "userdummy.png", class: 'rounded-circle', width: '100' %>
    <% if @user.name != "" %>
      <h6 class="mt-3 mb-2"><%= @user.name %></h6>
    <% else %>
      <h6 class="mt-3 mb-2"><%= link_to "Edit Name", edit_user_registration_path %></h6>
    <% end %>
    <% if @user.display_title.present? %>
      <span class="badge badge-primary badge-pill"><%= @user.display_title %></span>
    <% else %>
      <span class="badge badge-primary badge-pill"><%= @user.role.capitalize %></span>
    <% end %>
  </div>
</div>
<div class="list-group user-option-list">
  <%= link_to edit_user_registration_path, class: "list-group-item list-group-item-action" do %>
    <i class="fas fa-user mr-2"></i> Profile
  <% end %>
  <%= link_to user_articles_path, class: "list-group-item list-group-item-action" do %>
    <i class="fas fa-book mr-2"></i> My Articles
  <% end %>
  <%= link_to user_questions_path, class: "list-group-item list-group-item-action" do %>
    <i class="fas fa-book mr-2"></i> My Questions
  <% end %>
  <%= link_to user_work_samples_path, class: "list-group-item list-group-item-action" do %>
    <i class="fas fa-shopping-basket mr-2"></i> My Works
  <% end %>
  <%= link_to "javascript:void(0)", data: { toggle: "modal", target: "#logoutPopup" }, class: "list-group-item list-group-item-action" do %>
    <i class="fas fa-sign-out-alt mr-2"></i> Logout
  <% end %>
</div>
