<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card rounded-0">
        <div class="card-header">
          <h5 class="card-title text-center"><%= @user.name %></h5>
        </div>
        <div class="card-body">
         <div class="text-center">
          <% if @user.profile_pic.present? %>
            <%= image_tag @user.profile_pic.url, class: "rounded-circle" %>
          <% else %>
            <%= image_tag 'userdummy.png', width: '120', class: "rounded-circle" %>
          <% end %>
         </div>
          <div class="text-center">
            <h5 class="mt-3">
              <span class="badge badge-primary badge-pill"><%= @user.display_title %></span>
            </h5>
          </div>
          <p class="text-justify font-15 mt-4 lh-16"><%= @user.about %></p>
          <div class="mt-3 mb-4">
            <% if @user.skype_id.present? %>
              <h5><i class="fab fa-skype mr-3"></i><span class="text-primary font-15"><%= @user.skype_id %></span></h5>
            <% end %>
            <% if @user.github_url.present? %>
              <h5><i class="fab fa-github mr-3"></i><span class="font-15"><%= link_to @user.github_url, @user.github_url %></span></h5>
            <% end %>
            <% if @user.linkedin_url.present? %>
              <h5><i class="fab fa-linkedin mr-3"></i><span class="font-15"><%= link_to @user.linkedin_url, @user.linkedin_url %></span></h5>
            <% end %>
          </div>
        </div>
      </div>
      <% if @user.articles.present? %>
        <div class="card rounded-0 mt-5">
          <div class="card-body">
            <h5 class="text-center mb-4">Articles written by <strong><span class="text-primary"><%= @user.name %></span></strong> </h5>
            <div class="list-group">
              <% @user.articles.each do |article| %>
                <%= link_to article.title, article, target: '_blank', class: 'list-group-item list-group-item-action' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="card rounded-0">
        <div class="card-body">
          <p class="lead">Would you like to ask somthing with <%= @user.name %>.</p>
          <p class="font-15">Just fill the details in form below. <%= @user.first_name%> will be in touch once he received your message.</p>
          <div class="enquiry-form mt-5">
            <%= form_for :enquiry, url: :enquiries, method: :post do |f| %>
              <%= f.hidden_field :user_id, value: @user.id %>  
              <div class="form-group">
                <%= f.text_field :full_name, class: 'form-control rounded-0', required: true, placeholder: 'Write your full name' %>
              </div>
              <div class="form-group">
                <%= f.email_field :email, class: 'form-control rounded-0', required: true, placeholder: 'Write your email address' %>
              </div>
              <div class="form-group">
                <%= f.text_field :contact, class: 'form-control rounded-0', required: true, placeholder: 'Write your phone/mobile' %>
              </div>
              <div class="form-group">
                <%= f.text_area :message, class: 'form-control rounded-0', required: true, placeholder: 'What you want to ask', rows: '6' %>
              </div>
              <div class="form-group text-center">
                <%= f.submit 'Send Enquiry', class: 'btn btn-dark rounded-0' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
