<div class="container  mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 mx-md-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h5 class="card-title text-center"><%= @user.name %></h5>
        </div>
        <div class="card-body">
         <div class="text-center">
          <% if @user.profile_pic.present? %>
            <%= image_tag @user.profile_pic.url, class: "rounded-circle" %>
          <% else %>
            <%= image_tag 'userdummy.png', width: '120', class: "rounded-circle" %>
          <% end %>
         </div>
          <div class="text-center">
            <h5 class="mt-3">
              <span class="badge badge-primary badge-pill"><%= @user.display_title %></span>
            </h5>
          </div>
          <p class="text-justify font-15 mt-4 lh-16"><%= @user.about %></p>
          <div class="mt-3 mb-4">
            <% if @user.skype_id.present? %>
              <h5><i class="fab fa-skype mr-3"></i><span class="text-primary font-15"><%= @user.skype_id %></span></h5>
            <% end %>
            <% if @user.github_url.present? %>
              <h5><i class="fab fa-github mr-3"></i><span class="font-15"><%= link_to @user.github_url, @user.github_url %></span></h5>
            <% end %>
            <% if @user.linkedin_url.present? %>
              <h5><i class="fab fa-linkedin mr-3"></i><span class="font-15"><%= link_to @user.linkedin_url, @user.linkedin_url %></span></h5>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
